.dropDownMainContainer{
width: 25%;
height: 5vh;
/* display: flex; */
}
.inputImgContainer{
    display: flex;
    gap: 0.5rem;
    height: 100%;
    width:100%;
    align-items: center;
    text-align: center;
    border: 1px solid #888;
    border-radius:5px;
}
.dropDownInputContainer{
    width: 100%;
    outline: none;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.optionMainContainer{
    border: 1px solid #888;
    width: 100%;
    border-radius:5px;
    border-top: none;
    background-color: white;
    cursor: pointer;
    margin-top: 1px;
}

.optionContainer{
padding: 0.5rem;
color: #666;
border-radius:5px;
}

.optionContainer:hover{
    background-color: rgb(235, 239, 247);
    color: black;
}



@media only screen and (max-width: 780px) and (min-width: 1px){
    .dropDownMainContainer{
    width: 100%;
    }
    .optionMainContainer{
        position: relative;
    }
  }