.travallerMainContainer{
    width: 8%;
    height: 5vh;
    border: 1px solid #888;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
}
.travallerMainContainer > input{
    border: none;
    width: 100%;
    outline: none;
    margin-left: -8%;
}


@media only screen and (max-width: 780px) and (min-width: 1px){
    .travallerMainContainer{
    width: 95%;
    }
    .travallerMainContainer > input{
        margin-left: 0.1%;
    }
  }