.mainContainer{
  border: 1px solid #888;
  width: 85%;
  margin: auto;
  margin-top: 4rem;
  border-radius: 5px;
  padding:10px;
}

.airportNameContainer{
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 780px) and (min-width: 1px){
  .airportNameContainer{
    flex-direction: column;
  }
}