.backGroundMainContainer{
  border: 1px solid transparent;
  height: 100vh;
  background-image: url("https://d3tfanr7troppj.cloudfront.net/static_files/images/000/005/269/original/Homepage_banner_mobile.png?1700650875");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainContainer{
  border: 1px solid #888;
  background-color: #ba9753;
  color: white;
  width: 85%;
  margin: auto;
  margin-top: 4rem;
  border-radius: 10px;
  padding:2rem;

}

.airportNameContainer{
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  justify-content: space-between;
  color: black;
  font-family:Arial, Helvetica, sans-serif
}

.searchContainer{
  border: 1px solid #ba9753;
  width: 12%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #ba9753;
  border-radius: 5px;
  color: white;
}

@media only screen and (max-width: 780px) and (min-width: 1px){
  .airportNameContainer{
    flex-direction: column;
  }
}